@{
    ViewData["Title"] = "我的首頁";
}

<div class="text-center shadow">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a class="btn btn-danger" href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button class="btn btn-link">俺是按鈕</button>
</div>
